.assistant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #d46f2b;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.assistant-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.assistant-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  min-height: 600px;
  height: 800px;

}

.assistant-form-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #114781;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.assistant-form button:hover {
  background-color: #0056b3;
}

.assistant-response {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}