.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #060a41;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.home-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #2563eb; /* niebieski */
  color: white;
  cursor: pointer;
}

.home-btn:hover { background: #1d4ed8; }

.navbarlogin-buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.navbarlogin-buttons .login-btn { background: #1d4ed8; }
.navbarlogin-buttons .login-btn:hover { background: #2563eb; }

.navbarlogin-buttons .register-btn { background: #16a34a; }
.navbarlogin-buttons .register-btn:hover { background: #22c55e; }

.navbarlogin-buttons .logout-btn { background: #dc2626; }
.navbarlogin-buttons .logout-btn:hover { background: #ef4444; }
